<div id='players' class='container contentContainer'>
  <p> Enter player name in the input box!</p>
  <form name = 'playersForm' ng-submit='getPlayers()'>
    <input type='text' id='input-player' ng-model='players.name'
    placeholder="Enter a player name here..." />
    <button type='submit' value='Get Player'> Submit</button>
  </form> <br />
  <input type='text' name='search' ng-model='search'
  placeholder='Search a player...' />
  <div>
    <ul>
      <li ng-repeat="player in playersAry|filter:search">
        {{player}}
      </li>
    </ul>
  </div>
</div>
